Analyzing FiveThirtyEight's Star Wars Survey
=========================

This notebook is an exploration of the results of [a survey done by FiveThirtyEight](http://fivethirtyeight.com/datalab/americas-favorite-star-wars-movies-and-least-favorite-characters/) in the leadup to the release of _The Force Awakens_.  The raw data set I'm working with can be found [here](https://github.com/fivethirtyeight/data/tree/master/star-wars-survey).

This was originally a guided project on [Dataquest.io](http://dataquest.io) but I have extended the analysis further as an exercise in exploration and visualization of a dataset.

In [1]:
# First lets import the libraries we will need
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

/Users/Devlin/anaconda/lib/python3.5/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [2]:
# Next we'll import the data and take a look at the first few rows to get an idea for the data.
star_wars = pd.read_csv("star_wars.csv", encoding="ISO-8859-1")
star_wars.head(10)

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?ÂÃ¦,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,NaN,Response,Response,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode I The Phantom Menace,...,Yoda,Response,Response,Response,Response,Response,Response,Response,Response,Response
1,3292879998,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3292879538,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3292765271,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3292763116,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
5,3292731220,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
6,3292719380,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,1,...,Very favorably,Han,Yes,No,Yes,Male,18-29,"$25,000 - $49,999",Bachelor degree,Middle Atlantic
7,3292684787,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6,...,Very favorably,Han,Yes,No,No,Male,18-29,NaN,High school degree,East North Central
8,3292663732,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4,...,Very favorably,Han,No,NaN,Yes,Male,18-29,NaN,High school degree,South Atlantic
9,3292654043,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Somewhat favorably,Han,No,NaN,No,Male,18-29,"$0 - $24,999",Some college or Associate degree,South Atlantic

In [3]:
# Note the first row (index 0) of data - it's actually information that tells us how the
# multi-answer questions work on those columns.  We'll need to put that data into the
# column names and get rid of this row.

# Before we do though, because there are so many columns it's hard to get a feel for the
# whole survey.  Lets look at just the column names in isolation.
star_wars.columns

Index(['RespondentID',
       'Have you seen any of the 6 films in the Star Wars franchise?',
       'Do you consider yourself to be a fan of the Star Wars film franchise?',
       'Which of the following Star Wars films have you seen? Please select all that apply.',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14',
       'Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Which character shot first?',
       'Are you familiar with the Expanded Universe?',
       'Do you consider yourself to be a fan of the Expanded Universe?ÂÃ¦',
       'Do you consider yourself to be a fan of the Star Trek franchise?',
       'Gender', 'Age', 'Household Income', 'Education',
       'Location (Census Region)'],
      dtype='object')

In [4]:
# OK, let start the data cleaning!
#
# As suggested above, we'll start by moving the data from the first row of data up
# into the column names, and then we'll get rid of that row.

# Create a dict to and use that to rename the columns for each set of questions, plus the
# column with a stray character
rename_cols = {

    
    # Which movies have you seen question
    ("Which of the following Star Wars films have you seen? Please select all that "+
     "apply."): "seen_1",
    "Unnamed: 4": "seen_2",
    "Unnamed: 5": "seen_3",
    "Unnamed: 6": "seen_4",
    "Unnamed: 7": "seen_5",
    "Unnamed: 8": "seen_6",
        
    # Movie rank question
    ("Please rank the Star Wars films in order of preference with 1 being your favorite film "+
         "in the franchise and 6 being your least favorite film."): "ranking_1",
    "Unnamed: 10": "ranking_2",
    "Unnamed: 11": "ranking_3",
    "Unnamed: 12": "ranking_4",
    "Unnamed: 13": "ranking_5",
    "Unnamed: 14": "ranking_6",

    # Character rating question
    ("Please state whether you view the following characters favorably, unfavorably, or are "+
    "unfamiliar with him/her."): "Han Solo",
    "Unnamed: 16": "Luke Skywalker",
    "Unnamed: 17": "Princess Leia Organa",
    "Unnamed: 18": "Anakin Skywalker",
    "Unnamed: 19": "Obi Wan Kenobi",
    "Unnamed: 20": "Emperor Palpatine",
    "Unnamed: 21": "Darth Vader",
    "Unnamed: 22": "Lando Calrissian",
    "Unnamed: 23": "Boba Fett",
    "Unnamed: 24": "C-3P0",
    "Unnamed: 25": "R2 D2",
    "Unnamed: 26": "Jar Jar Binks",
    "Unnamed: 27": "Padme Amidala",
    "Unnamed: 28": "Yoda",

    # Column with funky character
    "Do you consider yourself to be a fan of the Expanded Universe?ÂÃ"
        :"Do you consider yourself to be a fan of the Expanded Universe?"
    }
star_wars.rename(columns=rename_cols, inplace=True)

# Finally lets remove that first row.
star_wars = star_wars[pd.notnull(star_wars["RespondentID"])]

# And we'll take a look at our columns again so we can see our progress
star_wars.columns

Index(['RespondentID',
       'Have you seen any of the 6 films in the Star Wars franchise?',
       'Do you consider yourself to be a fan of the Star Wars film franchise?',
       'seen_1', 'seen_2', 'seen_3', 'seen_4', 'seen_5', 'seen_6', 'ranking_1',
       'ranking_2', 'ranking_3', 'ranking_4', 'ranking_5', 'ranking_6',
       'Han Solo', 'Luke Skywalker', 'Princess Leia Organa',
       'Anakin Skywalker', 'Obi Wan Kenobi', 'Emperor Palpatine',
       'Darth Vader', 'Lando Calrissian', 'Boba Fett', 'C-3P0', 'R2 D2',
       'Jar Jar Binks', 'Padme Amidala', 'Yoda', 'Which character shot first?',
       'Are you familiar with the Expanded Universe?',
       'Do you consider yourself to be a fan of the Expanded Universe?ÂÃ¦',
       'Do you consider yourself to be a fan of the Star Trek franchise?',
       'Gender', 'Age', 'Household Income', 'Education',
       'Location (Census Region)'],
      dtype='object')

In [5]:
# Looking good. Now lets do some work so that our data in the columns is in a workable format.

# For the yes/no questions, we will convert the answers to True and False.
yes_no = {"Yes": True, "No": False}
boolean_cols = [
    "Have you seen any of the 6 films in the Star Wars franchise?",
    "Do you consider yourself to be a fan of the Star Wars film franchise?"
    ]

for col in boolean_cols:
    star_wars[col] = star_wars[col].map(yes_no)
    
# For the question about which movies have been seen, the data is the movie name if it has
# been seen an NaN if it hasn't.  We can convert these to True and False as well.
movie_dict = {
    "Star Wars: Episode I  The Phantom Menace" : True,
    np.nan : False,
    "Star Wars: Episode II  Attack of the Clones": True,
    "Star Wars: Episode III  Revenge of the Sith": True,
    "Star Wars: Episode IV  A New Hope": True,
    "Star Wars: Episode V The Empire Strikes Back": True,
    "Star Wars: Episode VI Return of the Jedi": True
}

for col in star_wars.columns[3:9]:
    star_wars[col] = star_wars[col].map(movie_dict)
    
# Convert the movie ranking columns to float
star_wars[star_wars.columns[9:15]] = star_wars[star_wars.columns[9:15]].astype(float)

In [6]:
# A look at our data now
star_wars

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,seen_1,seen_2,seen_3,seen_4,seen_5,seen_6,ranking_1,...,Yoda,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?ÂÃ¦,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
1,3292879998,True,True,True,True,True,True,True,True,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3292879538,False,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3292765271,True,False,True,True,True,False,False,False,1,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3292763116,True,True,True,True,True,True,True,True,5,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
5,3292731220,True,True,True,True,True,True,True,True,5,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
6,3292719380,True,True,True,True,True,True,True,True,1,...,Very favorably,Han,Yes,No,Yes,Male,18-29,"$25,000 - $49,999",Bachelor degree,Middle Atlantic
7,3292684787,True,True,True,True,True,True,True,True,6,...,Very favorably,Han,Yes,No,No,Male,18-29,NaN,High school degree,East North Central
8,3292663732,True,True,True,True,True,True,True,True,4,...,Very favorably,Han,No,NaN,Yes,Male,18-29,NaN,High school degree,South Atlantic
9,3292654043,True,True,True,True,True,True,True,True,5,...,Somewhat favorably,Han,No,NaN,No,Male,18-29,"$0 - $24,999",Some college or Associate degree,South Atlantic
10,3292640424,True,False,False,True,False,False,False,False,1,...,Very favorably,I don't understand this question,No,NaN,No,Male,18-29,"$25,000 - $49,999",Some college or Associate degree,Pacific
11,3292637870,True,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,3292635062,False,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,3292609214,True,False,True,True,True,True,True,True,3,...,Very favorably,Greedo,No,NaN,No,Male,18-29,"$25,000 - $49,999",Bachelor degree,South Atlantic
14,3292596911,True,True,True,True,True,True,True,True,4,...,Very favorably,I don't understand this question,No,NaN,No,Male,30-44,"$50,000 - $99,999",Graduate degree,Mountain
15,3292587240,True,True,True,True,True,True,True,True,4,...,Very favorably,Han,No,NaN,No,Male,18-29,NaN,High school degree,East North Central
16,3292583038,True,True,True,True,True,True,True,True,4,...,Somewhat favorably,Han,Yes,Yes,Yes,Male,18-29,"$0 - $24,999",Some college or Associate degree,West South Central
17,3292580516,True,True,False,False,False,True,False,False,4,...,Very unfavorably,Han,Yes,Yes,No,Male,18-29,"$50,000 - $99,999",Bachelor degree,New England
18,3292572872,True,True,True,True,True,False,False,True,1,...,Very favorably,Greedo,No,NaN,No,Male,18-29,NaN,Some college or Associate degree,Middle Atlantic
19,3292565282,True,True,True,True,True,True,True,True,6,...,Very favorably,Han,No,NaN,No,Male,18-29,NaN,High school degree,South Atlantic
20,3292562297,True,True,True,True,True,True,True,True,6,...,Very favorably,Greedo,No,NaN,Yes,Male,18-29,"$50,000 - $99,999",Some college or Associate degree,West North Central
21,3292522349,True,True,True,True,True,True,True,True,6,...,Very favorably,Han,No,NaN,No,Male,18-29,NaN,Some college or Associate degree,Pacific
22,3292521066,True,False,True,True,True,True,True,False,3,...,Neither favorably nor unfavorably (neutral),I don't understand this question,No,NaN,No,Male,18-29,NaN,Bachelor degree,Pacific
23,3292511801,True,True,True,True,True,True,True,True,6,...,Very favorably,Greedo,Yes,Yes,Yes,Male,18-29,"$50,000 - $99,999",Bachelor degree,South Atlantic
24,3292483200,True,True,True,True,True,True,True,True,6,...,Very favorably,Han,No,NaN,No,Male,18-29,"$0 - $24,999",Bachelor degree,Pacific
25,3292465491,True,True,True,True,True,True,True,True,1,...,Very favorably,Han,No,NaN,No,Male,18-29,NaN,NaN,East North Central
26,3292447974,False,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",High school degree,East South Central
27,3292420123,True,True,True,True,True,True,True,True,4,...,Very favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,South Atlantic
28,3292384040,True,True,True,True,True,True,True,True,6,...,Very favorably,Greedo,No,NaN,No,Male,18-29,NaN,Some college or Associate degree,Middle Atlantic
29,3292380493,True,True,True,True,True,True,True,True,6,...,Very favorably,Han,Yes,No,No,Male,18-29,NaN,Some college or Associate degree,Middle Atlantic
30,3292376985,True,True,True,True,True,True,True,True,4,...,Very favorably,Han,Yes,Yes,Yes,Male,18-29,"$150,000+",Some college or Associate degree,East North Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157,3288425859,True,False,True,True,True,True,True,True,3,...,Very favorably,I don't understand this question,No,NaN,No,Female,30-44,"$50,000 - $99,999",Graduate degree,Middle Atlantic
1158,3288423088,False,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,No,Male,45-60,"$100,000 - $149,999",Graduate degree,Middle Atlantic
1159,3288423045,True,False,False,False,False,False,True,True,2,...,Very favorably,I don't understand this question,No,NaN,No,Female,45-60,"$0 - $24,999",Bachelor degree,Pacific
1160,3288421819,False,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,No,Female,> 60,"$0 - $24,999",Some college or Associate degree,West South Central
1161,3288420798,True,False,True,False,True,False,False,True,3,...,Very favorably,I don't understand this question,No,NaN,No,Female,18-29,"$25,000 - $49,999",Some college or Associate degree,Pacific
1162,3288417782,True,False,True,True,True,False,True,True,3,...,Neither favorably nor unfavorably (neutral),Greedo,No,NaN,No,NaN,NaN,NaN,NaN,NaN
1163,3288417641,True,True,True,False,False,True,True,True,4,...,Very favorably,I don't understand this question,No,NaN,No,Female,18-29,"$25,000 - $49,999",Graduate degree,South Atlantic
1164,3288416959,True,False,False,False,False,True,True,True,5,...,Very favorably,Han,Yes,No,No,Female,> 60,NaN,Bachelor degree,New England
1165,3288415166,True,False,True,True,True,False,True,True,5,...,Neither favorably nor unfavorably (neutral),Han,No,NaN,No,Male,45-60,"$100,000 - $149,999",Graduate degree,Middle Atlantic
1166,3288414025,True,True,True,True,True,True,True,True,5,...,Very favorably,Greedo,No,NaN,Yes,Female,30-44,"$50,000 - $99,999",Bachelor degree,Mountain
1167,3288413441,True,True,True,True,True,True,True,True,6,...,Very favorably,I don't understand this question,No,NaN,No,Female,18-29,"$150,000+",Some college or Associate degree,South Atlantic
1168,3288410348,True,False,True,False,False,False,True,True,3,...,Very favorably,Greedo,Yes,No,No,Female,30-44,NaN,Graduate degree,East North Central
1169,3288410073,False,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,No,Female,30-44,"$150,000+",Graduate degree,East North Central
1170,3288408698,True,True,True,False,False,True,True,True,4,...,Very favorably,Han,No,NaN,Yes,Male,45-60,"$25,000 - $49,999",Bachelor degree,South Atlantic
1171,3288402717,False,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,No,Female,45-60,NaN,Graduate degree,East North Central
1172,3288402643,True,True,True,True,True,True,True,True,6,...,Somewhat unfavorably,Han,Yes,Yes,Yes,Female,> 60,"$25,000 - $49,999",Bachelor degree,Mountain
1173,3288402592,True,True,False,False,False,True,True,True,2,...,Somewhat favorably,Greedo,Yes,No,Yes,Female,> 60,NaN,High school degree,Pacific
1174,3288402511,True,True,True,True,True,True,True,True,5,...,Very favorably,Han,No,NaN,Yes,Female,30-44,NaN,Bachelor degree,Middle Atlantic
1175,3288401681,True,False,True,True,True,False,False,False,1,...,Very favorably,I don't understand this question,No,NaN,Yes,Female,> 60,NaN,Some college or Associate degree,West North Central
1176,3288401136,True,True,True,True,True,True,True,True,1,...,Somewhat favorably,Han,Yes,No,Yes,Female,45-60,"$50,000 - $99,999",Graduate degree,West South Central
1177,3288398062,True,False,True,True,False,False,False,False,2,...,Neither favorably nor unfavorably (neutral),I don't understand this question,No,NaN,No,Female,45-60,"$0 - $24,999",High school degree,Middle Atlantic
1178,3288396374,True,False,True,True,True,False,True,True,1,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,> 60,"$50,000 - $99,999",Some college or Associate degree,Pacific
1179,3288395255,False,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,No,Female,18-29,NaN,Less than high school degree,West North Central
1180,3288391812,True,True,False,False,False,False,True,True,3,...,Very favorably,Han,No,NaN,Yes,Female,45-60,"$0 - $24,999",Some college or Associate degree,West North Central
1181,3288389603,True,True,True,True,True,True,True,True,3,...,Very favorably,Han,No,NaN,No,Female,45-60,"$0 - $24,999",Some college or Associate degree,Pacific
1182,3288388730,True,True,True,True,True,True,True,True,5,...,Very favorably,Han,No,NaN,Yes,Female,18-29,"$0 - $24,999",Some college or Associate degree,East North Central
1183,3288378779,True,True,True,True,True,True,True,True,4,...,Very favorably,I don't understand this question,No,NaN,Yes,Female,30-44,"$50,000 - $99,999",Bachelor degree,Mountain
1184,3288375286,False,NaN,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,No,Female,30-44,"$50,000 - $99,999",Bachelor degree,Middle Atlantic
1185,3288373068,True,True,True,True,True,True,True,True,4,...,Very favorably,Han,No,NaN,Yes,Female,45-60,"$100,000 - $149,999",Some college or Associate degree,East North Central
1186,3288372923,True,False,True,True,False,False,True,True,6,...,Very unfavorably,I don't understand this question,No,NaN,No,Female,> 60,"$50,000 - $99,999",Graduate degree,Pacific